{% extends "base/theme.html" %}
{% block main_content %}
<div class="row main-content">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="panel">
		<h3>{{location.title}}</h3>
		<p>{{location.description}}</p>
		{% if location.address %}<p><b>Location: </b>{{ location.address }}</p>{% endif %}
		{% if location.hour %}<p>{{ location.hour }}</p>{% endif %}
		{% if location.image_file %}
			<img src="{{ location.image_file.url }}"/>
		{% endif %}
		<p>{{ location.description }}</p>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}